<!--This part is only for ADMIN-->
<nz-row nzJustify="end">
  <button [routerLink]="'/news/create-article'" nz-button nzType="primary">Create News</button>
</nz-row>
<!--end-->
<app-main-cover style="padding: 50px" [imageSlider]="imageSlider" [imageSideTop]="imageSideTop"></app-main-cover>

<nz-row nzType="flex" style="padding: 0 0 0 25px">

  <nz-col [nzLg]="18" [nzMd]="24">
    <app-main-body [newsArticles]="newsArticles"></app-main-body>
  </nz-col>

  <nz-col [nzLg]="6" [nzMd]="24">
      <app-sidebar [imageSlider]="imageSlider"></app-sidebar>
  </nz-col>

</nz-row>

