<nz-row nzJustify="end">

  <nz-card style="width: 100%; text-align: center; overflow: hidden; margin: 50px" nzTitle="Traži">
    <p>DODAJ INPUT OVDJE</p>
    <button nz-button nzType="primary" style="width: 100%; margin-top: 20px">Traži</button>
  </nz-card>

  <nz-card style="width: 100%; text-align: center;overflow: hidden; margin: 50px" nzTitle="Pretplata">
  <p>Pretplatite se na nove vijesti</p>
  <p>DODAJ INPUT OVDJE</p>
  <button nz-button nzType="primary" style="width: 100%; margin-top: 20px">Prijavi se</button>
</nz-card>

  <nz-card style="width: 100%; overflow: hidden; height: 250px; text-align: center; margin: 50px" nzTitle="GOOGLE ADD">
  </nz-card>

  <nz-card style="width: 100%; overflow: hidden; height: 250px; text-align: center; margin: 50px" nzTitle="GOOGLE ADD">
  </nz-card>
</nz-row>



