    <nz-row>
      <nz-col [nzLg]="8" [nzMd]="12" [nzSm]="24" *ngFor="let image of bodyImages">
        <div class="body-image" [routerLink]="['../details']" [queryParams]="{id: image.id}">
          <div class="wrapper">
            <div class="card radius shadowDepth1">
              <div class="card__image border-tlr-radius">
                <img src="{{image.coverImage}}">
              </div>
              <div class="card__content card__padding">
                <div class="card__share">
                  <a id="share" class="share-toggle share-icon" href="#"></a>
                </div>
                <div class="card__edit">
<!--TODO if user is admin (or who ever can edit)-->
                  <a id="edit" class="share-icon" [routerLink]="['../edit-article']" [queryParams]="{id: image.id}">Edit</a>
                </div>
                <div class="card__meta">
                  <p>{{image.date}}</p>
                </div>
                <article class="card__article">
                  <h2><a href="#">{{image.headline}}</a></h2>
                  <p>{{image.description}}</p>
                </article>
              </div>
              <div class="card__action">
                <div class="card__author">
                  <div class="card__author-content">
                    By <a href="#">{{image.author}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </nz-col>
    </nz-row>
