<nz-row class="cover-wrapper">

  <nz-col [nzLg]="18" [nzMd]="24">
    <nz-row>
      <div style="max-height: 300px; width: 100%" class="article-container">
        <nz-carousel nzAutoPlay class="article-img-holder">
          <div nz-carousel-content *ngFor="let image of imageSlider" [style.backgroundImage]="'url('+ image.image +')'"
               style="background-size: cover">
            <h3 class="sliderText">NEW NEXUS TAB RELEASED ON NEXT WEAK</h3>
          </div>
        </nz-carousel>
      </div>
    </nz-row>
  </nz-col>

  <nz-col [nzLg]="6" [nzMd]="24" style="height: 300px" class="article-container">
    <div *ngFor="let image of imageSideTop" style="height: 50%"  class="wrapper article-img-holder">
      <div [style.backgroundImage]="'url('+ image.image +')'" style="background-size: cover; height: 100%">
        <h4>Jan 20, 2017</h4>
        <h4>NEW NEXUS TAB RELEASED ON NqweqweEXT WEAK</h4>
      </div>
    </div>
  </nz-col>

</nz-row>




