[nz-carousel-content] {
  height: 300px;
  max-width: 100%;
  background: #364d79;
  color: #fff;
  line-height: 500px;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
  margin: 0 15px 0 40px;
  padding-top: 10px;
}

.sliderText {
  margin-left: 60px;
  margin-bottom: 30px;
}

.picture-frame {
  position: relative;
  z-index: 10;
}

.top-side-image {
  padding: 0 30px 20px 30px;
  position: absolute;
}

.article-container {
  overflow: hidden;
  position: relative;
}

.article-img-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.article-img-holder:hover {
  transform: scale(1.1);
}

